.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 400px;
    /* Cada card ocupa 300px */
    margin: 10px;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(236, 238, 241, 1);
    background-color: #fff;
}

.card h3 {
    margin-top: 0;
}

.card-title {
    font-size: 1rem;
    color: #1E1E1E;
}

.tags {
    margin: 10px 0;
}

.tags-structure {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 13px;
}


.tag-green {
    color: #35B267;
    background-color: #E9FFF4;
}


.tag-cyan {
    color: #27A5B3;
    background-color: #E9FEFF;
}

.tag-blue {
    color: #4485FF;
    background-color: #E9F2FF;
}

.tag-purple {
    color: #A544FF;
    background-color: #F2E9FF;
}

.tag-red {
    color: #FF448C;
    background-color: #FFE9ED;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* outros estilos existentes */
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* opcional: dá profundidade */
  cursor: pointer;
}
