.container {
  margin: 42px 64px; 
  padding: 0;         
}


.backLink {
  color: #1a73e8;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Nunito", serif;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  font-family: "Montserrat", serif; 
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  font-family: "Nunito", serif;
  
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.loading,
.noResults {
  font-size: 16px;
  color: #666;
  margin-top: 40px;
}
