.cards {
    margin: 64px;
    margin-right: 0px
}

.cards h1 {
    font-size: 24px;
}

.cards h2 {
    font-size: 16px;
}

.cards p {
    font-size: 15px;
    color: #3E5375;
}

.cards .autor {
    color: #77859F;
    font-size: 13px;
}

.carousel {
    overflow: hidden;
    /* Oculta os itens fora do container */
    width: 100%;
    margin: 42px auto;

}

/* Faixa que desliza */
.carousel-track {
    display: flex;
    transition: transform 0.5s linear;
    will-change: transform;
    /* Melhora o desempenho */
    min-width: fit-content;
}