.button {
    border: 0;
    border-radius: 400px;
    border-radius: 400px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: "Montserrat", serif;
}

.primary {
    background-color: var(--blue-500);
    color: var(--white);
}

.secondary {
    background-color: var(--white);
    color: var(--blue-500);
    font-weight: bold;
}


.outline {
    background-color: transparent;
    color: var(--blue-500);
}

.small {
    padding: 8px 16px;
}

.medium {
    padding: 10px 12px;
}

.large {
    padding: 18px 24px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.totalWidth {
    width: 100%;
}