header {
    display: flex;
    padding: 1.5rem 4rem;
    justify-content: space-between;
    background-color: var(--branco3);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

header .menu-list {
    display: flex;
    gap: 1.25rem;
}

header .menu-list-item {
    color: var(--texto-menu);
    font-size: 14px;
    padding: 12px;

}

header .menu-list-item a:hover {
    color: var(--blue-500);
    transition: 300ms;

}


header .button-primary-content {
    font-size: 13px;
    cursor: pointer;
}