.add-story-page {
    padding: 52px 72px;
    display: flex;
    height: 100vh;
    gap: 48px;
}

textarea {
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    line-height: 1.5;
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    /* Remove o redimensionamento manual */
    overflow: hidden;
    /* Evita barras de rolagem */
}


main .content-text {
    height: 100%;
    background-color: white;
    border-radius: 12px 12px 0px 0px;
    width: 700px;
    padding: 32px;
}

main .section-text {
    display: grid;
    background-color: white;
    border-radius: 12px 12px 0px 0px;
    grid-template-rows: auto auto auto;
    align-self: start;
    gap: 12px;
    width: 100%;
}

.section-text-title {
    width: 100%;
}


main .section-text-title .title-description {
    color: var(--gray-text);
    font-size: 12px;
}

main .section-text-title .title {
    color: var(--blue-500);
    font-size: 1rem;
    border: 0px;
    width: 100%;
}

main .section-text .text {
    font-size: 1rem;
    color: #626183;
}


main .section-text .text::placeholder {
    color: var(--gray-text-placeholder);

}

main .section-tips {
    display: grid;
    margin-top: 42px;
    color: white;
    align-self: start;
    gap: 172px;
}


main .section-tips .tips-text .text p {
    font-size: 14px;
}

main .section-tips .tips-text .text h1 {
    font-size: 36px;
}


main .section-tips .tips-text {
    display: grid;
    gap: 48px;
}


main .tips-list {
    display: grid;
    margin: 1rem;
    gap: 16px;
    font-weight: 500;


}

main .tips-list li {
    display: flex;
    gap: 8px;
    font-size: 14px;
}

main .tips-list p {
    font-size: 16px;
}

.section-tips .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 600px;
}