@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --white: #EFEEEE;
    --texto-menu: #5B6474;
    --blue-500: #206EFF;
    --blue-placeholder: #D1E1FF;
    --white-50: rgba(255, 255, 255, 0.5);
    --gray-text: #8E97A8;
    --gray-text-placeholder: #9E9DC4;
    --black-text: #3B3A49;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

input[type="text"]:focus {
    outline: none;
}

input {
    border: 0px;
}

textarea:focus {
    outline: none;
}


ul {
    list-style-type: none;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a,
img {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.white {
    color: var(--white);
}

.blue {
    color: #206EFF;
}

.purple {
    color: #A544FF;
}

.green {
    color: #35B267;
}

.rethink-sans {
    font-family: "Rethink Sans", serif;
    font-optical-sizing: auto;
    font-style: regular;
}

.montserrat-medium {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.montserrat-semibold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
}

.nunito-regular {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.button-primary {
    background-color: var(--blue-500);
    border: 0px;
    border-radius: 400px;
}

.button-primary-content a {
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 0.50rem 0.5rem;
    gap: 6px;
}

.button-primary-white {
    background-color: white;
    border: 0px;
    border-radius: 400px;
    display: flex;
    justify-content: center;
}

.button-primary-content-white a {
    color: var(--blue-500);
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 6px;
}

.button-primary-white-outline {
    border: 1px solid white;
    border-radius: 400px;
    background-color: #206EFF;
    display: flex;
    justify-content: center;
}

.button-primary-content-white-outline a {
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 6px;

}

.button-secundary-outline {
    color: var(--white);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 400px;
    padding: 12px 12px;
}

.button-secundary {
    color: var(--white);
    border-radius: 400px;
    padding: 12px 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.backLink {
    color: #1a73e8;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-family: "Nunito", serif;
}